<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.AdminMapper">

	<insert id="insertNotice">
		insert into notice
		values
		(
		#{notice_idx},
		#{notice_name},
		#{notice_subject},
		#{notice_content},
		#{notice_file_original},
		#{notice_file_real},
		#{notice_readcount},
		now()
		)
	</insert>

	<select id="getNoticeList"
		resultType="com.itwillbs.domain.NoticeBean">
		select * from notice
	</select>

	<delete id="deleteNotice">
		delete from notice where notice_idx=#{notice_idx}
	</delete>

	<select id="getNotice"
		resultType="com.itwillbs.domain.NoticeBean">
		select notice_subject, notice_content, notice_idx from
		notice where notice_idx = #{notice_idx}
	</select>

	<update id="noticeUpdate">
		update notice set notice_subject=#{notice_subject},
		notice_content=#{notice_content} where notice_idx = #{notice_idx}
	</update>

	<select id="getReviewList"
		resultType="com.itwillbs.domain.ReviewBean">
		select review_idx, review_content, review_email,
		p.product_name as "product_name"
		from review r join product p on
		r.review_product_idx = p.product_idx
	</select>

	<delete id="deleteReview">
		delete from review where review_idx=#{review_idx}
	</delete>

	<select id="getCouponList"
		resultType="com.itwillbs.domain.CouponBean">
		select * from coupon
	</select>

	<update id="expireCoupon">
		update coupon set coupon_status = 0 where coupon_idx
		= #{coupon_idx}
	</update>

	<update id="unexpireCoupon">
		update coupon set coupon_status = 1 where coupon_idx
		= #{coupon_idx}
	</update>

	<insert id="couponAddPro">
		insert into coupon (coupon_idx, coupon_name,
		coupon_price, coupon_status, coupon_date, coupon_expire)
		values
		(#{coupon_idx}, #{coupon_name}, #{coupon_price}, 1, #{coupon_date},
		#{coupon_expire})
	</insert>

	<update id="couponActivateInOnce">
		update coupon
		set coupon_status = 1
		where coupon_idx in
		( select * from (select coupon_idx from coupon) as a);
	</update>

	<update id="couponExpireInOnce">
		update coupon
		set coupon_status = 0
		where coupon_idx in ( select * from (select coupon_idx from coupon where
		curdate() > coupon_expire) as a);
	</update>

</mapper>





