<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.MemberMapper">

  <select id="getMember" resultType="com.itwillbs.domain.MemberBean">
    select * from member where member_email = #{member_email}
  </select>
  
  <select id="userCheck" resultType="com.itwillbs.domain.MemberBean">
    select * from member where member_email = #{member_email} and member_password = #{member_password}
  </select>
  
  <insert id="insertMember">
  	insert into member(id,pass,name,date) values(#{id},#{pass},#{name},#{date})
  </insert>
  
  <update id="updateMember">
  	update member set member_name = #{member_name}, member_phone = #{member_phone}, member_post = #{member_post}, member_address = #{member_address} WHERE member_email = #{member_email}
  </update>
  
  <delete id="deleteMember">
  
  </delete>
  
</mapper>