<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.MemberMapper">

  <select id="getMember" resultType="com.itwillbs.domain.MemberBean">
    select * from member where member_email = #{member_email}
  </select>
  
   <select id="getMemberByemail" resultType="com.itwillbs.domain.MemberBean">
    select * from member where member_email = #{member_email}
  </select>
  
  <select id="userCheck" resultType="com.itwillbs.domain.MemberBean">
    select * from member where member_email = #{member_email} and member_password = #{member_password}
  </select>
  
  <insert id="insertMember">
     insert into member(member_email,
     member_password,
     member_name,
     member_phone,
     member_post,
     member_address,
     member_extraAddress,
     member_extraAddress2,
     member_date) 
     
     values(#{member_email},
     #{member_password},
     #{member_name},
     #{member_phone},
     #{member_post},
     #{member_address},
     #{member_extraAddress},
     #{member_extraAddress2},
     #{member_date})
  </insert>
  
  <update id="updateMember">
     update member set 
        member_name = #{member_name}, 
        member_phone = #{member_phone},
      member_post = #{member_post}, 
      member_address = #{member_address},
      member_extraAddress = #{member_extraAddress}, 
      member_extraAddress2 = #{member_extraAddress2} 
   WHERE member_email = #{member_email}
  </update>
  
  <delete id="deleteMember">
     delete from member where member_email=#{member_email}
  </delete>
  
    <select id="getMemberList" resultType="com.itwillbs.domain.MemberBean">
  	SELECT * FROM member
  </select>
  
   <select id="emailCheck" resultType="string">
    select member_email from member where member_name = #{member_name} and member_phone = #{member_phone}
   </select>
   
   <select id="passwordCheck" resultType="string">
   	select member_password from member where member_email = #{member_email} and member_name = #{member_name} and member_phone = #{member_phone}
   </select>
   
   <select id="updateTempPassword">
   	update member set member_password = #{member_password} where member_email = #{member_email}
   </select>

   
  <select id="getMemberCouponList" resultType="String">
     select member_coupon from member where member_email = #{member_email}
  </select>
  
  <select id="getCouponInfo" resultType="com.itwillbs.domain.CouponBean">
     SELECT * FROM coupon WHERE coupon_idx = #{coupon_idx}
  </select>
  
  <select id="getCouponInfo_CouponCode" resultType="com.itwillbs.domain.CouponBean">
     SELECT * FROM coupon WHERE coupon_name = #{coupon_name}
  </select>
  
  <select id="getCouponList" resultType="com.itwillbs.domain.CouponBean">
     select * from coupon
  </select>
  <!-- CONCAT_WS(첫 번째 인자값, 데이터1, 데이터2, ...) : 첫 번째 인자값으로 구분해 데이터를 입력해주는 함수로 null 값에도 사용가능 -->
  <update id="updateMemberCoupon" parameterType="HashMap">
     UPDATE member SET member_coupon=CONCAT_WS('/',member_coupon,#{coupon_idx}) WHERE member_email=#{member_email}
  </update>
  
<!-- 관리자 : 구독자만 -->
<!-- 	구독자 회원의 모든 정보 -->
	<select id="getSubMemberList" resultType="com.itwillbs.domain.MemberBean">
		SELECT * FROM member WHERE member_subscribe=1
	</select>
<!-- 	구독 여부만 조회 -->
<!-- 	<select id="getSubMemberList" resultType="com.itwillbs.domain.MemberBean"> -->
<!-- 		SELECT IF(member_subscribe,'true','false') as member_subscribe  -->
<!-- 		FROM member WHERE member_subscribe=1 -->
<!-- 	</select> -->
  
</mapper>