<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.OrderMapper">

	<select id="getOrderAllList" resultType="com.itwillbs.domain.OrderBean">
		select * from orderlist
	</select>	
	
	<select id="getOrderInfo" resultType="com.itwillbs.domain.OrderBean">
		select * from orderlist where order_idx=#{order_idx}
	</select>
	
	<update id="updateOrderStatus">
		update orderlist set order_status=#{order_status} where order_idx=#{order_idx}
	</update>
	
</mapper>