<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.OrderListMapper">

	<select id="getOrderList" resultType="com.itwillbs.domain.OrderListBean" >
	SELECT 
		o.order_idx,p.product_idx, p.product_name, o.order_status,d.order_detail_return_check, coalesce(r.review_idx, 0) 'review_idx'
		from orderlist o
		inner join order_detail d
		on o.order_idx = d.order_detail_order_idx
		inner join product p 
		on d.order_detail_product_idx = p.product_idx
		left outer join review r
		on o.order_idx = r.review_order_idx and d.order_detail_product_idx = r.review_product_idx
		where o.order_member_email = #{order_member_email}
	</select>
	
	<select id="getOrderListPage" resultType="com.itwillbs.domain.OrderListBean" >
	SELECT 
		o.order_idx,p.product_idx, p.product_name, o.order_status,d.order_detail_return_check, coalesce(r.review_idx, 0) 'review_idx'
		from orderlist o 
		inner join order_detail d
		on o.order_idx = d.order_detail_order_idx
		inner join product p 
		on d.order_detail_product_idx = p.product_idx
		left outer join review r
		on o.order_idx = r.review_order_idx and d.order_detail_product_idx = r.review_product_idx
		where o.order_member_email = #{order_member_email}
		
		order by order_date desc limit #{startRow},#{pageSize}
	</select>
	
	
	<select id="getOrderListCount" resultType="java.lang.Integer">
	  	SELECT 
	  		count(*),
			o.order_idx,p.product_idx, p.product_name, o.order_status,d.order_detail_return_check, coalesce(r.review_idx, 0) 'review_idx'
		from orderlist o 
			inner join order_detail d
			on o.order_idx = d.order_detail_order_idx
			inner join product p 
			on d.order_detail_product_idx = p.product_idx
			left outer join review r
			on o.order_idx = r.review_order_idx and d.order_detail_product_idx = r.review_product_idx
		where o.order_member_email = #{order_member_email}
  	</select>

	<select id="getOrderMember" resultType="com.itwillbs.domain.OrderListBean" >
		SELECT * FROM orderlist WHERE order_idx = #{order_idx}
	</select>
	

	<select id="getReviewCheck" resultType="com.itwillbs.domain.OrderListBean" >
		select review_idx, review_product_idx, product_idx 
		from review, product 
		where review_email = #{review_email}
		and product_idx = review_product_idx 
		and review_idx = #{review_idx}
	</select>
	
	
	<select id="getReviewFind" resultType="com.itwillbs.domain.OrderListBean" >
		select review_idx
		from review
		where review_email = #{review_email}
	</select>
	
	
	<update id="updateOrder">
		update order_detail od,
			(select product_idx,order_detail_order_idx,order_detail_product_idx
			from product, order_detail
			where order_detail_order_idx = #{order_idx} and product_idx = #{product_idx}
			and product_idx = order_detail_product_idx) product
  		set od.order_detail_return_check = #{order_detail_return_check}
  		where od.order_detail_order_idx = product.order_detail_order_idx 
  		and od.order_detail_product_idx = product.order_detail_product_idx;
	</update>
	
	<insert id="insertOrderList">
		insert into orderlist
		values (#{order_idx },
		#{order_member_email},
		#{order_receiver_name},
		#{order_receiver_phone},
		#{order_receiver_post},
		#{order_receiver_address},
		#{order_receiver_extraAddress},
		#{order_receiver_extraAddress2},
		#{order_amount},
		#{order_coupon},
		#{order_point},
		#{order_status},
		now(),
		#{order_payment},
		#{order_tracking_num}
		)
	</insert>
	
</mapper>