<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.ReviewMapper">

  <insert id="insertReview">
  	insert into review 
  	(review_email,
  	review_product_idx,
  	review_subject,
  	review_content,
  	review_image,
  	review_image2,
  	review_star,
  	review_date,
  	review_order_idx
  	) 
  	
  	values(
  	#{review_email},
  	#{review_product_idx},
  	#{review_subject},
  	#{review_content},
  	#{review_image},
  	#{review_image2},
  	#{review_star},
  	#{review_date},
  	#{review_order_idx}
  	)
  </insert>
  
  <select id="getReviewList" resultType="com.itwillbs.domain.ReviewBean" >
		SELECT 
			order_member_email,
			order_idx,    
			product_name,
		    order_status,
            product_idx,
            review_idx,
			review_email,
			review_product_idx,
			review_subject,
			review_content,
            review_image,
            review_image2,
			review_star,
			review_date
 
			FROM orderlist, order_detail, product, review
			WHERE 
			product_idx = order_detail_product_idx
		    AND
		    order_member_email = #{review_email}
	</select>
	
	 <select id="getReview" resultType="com.itwillbs.domain.ReviewBean" >
		SELECT * FROM review WHERE review_idx = #{review_product_idx}
	</select>
	
	<select id="getProductReview" resultType="com.itwillbs.domain.ReviewBean" >
		SELECT * FROM review WHERE review_product_idx = #{product_idx}
	</select>
	
	<select id="getProductReviewListPage" resultType="com.itwillbs.domain.ReviewBean" >
		SELECT * FROM review WHERE review_product_idx = #{product_idx} order by review_idx desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getProductReviewCount" resultType="java.lang.Integer" >
		SELECT count(*) review_product_idx FROM review WHERE review_product_idx = #{product_idx}
	</select>
	
    <select id="getReviewListPage" resultType="com.itwillbs.domain.ReviewBean">
  	select * from review where review_email = #{member_email} order by review_idx desc limit #{startRow},#{pageSize}
    </select>

	<select id="getReviewListCount" resultType="java.lang.Integer">
  	select count(*) from review where review_email = #{member_email}
  	</select>
  
 	 <update id="updateReview">
		UPDATE review SET
			review_subject = #{review_subject},
		    review_content = #{review_content},
		    review_image = #{review_image},
		    review_image2 = #{review_image2},
		    review_star = #{review_star}
		WHERE review_idx = #{review_idx}
	</update>
  
	<delete id="deleteReview">
		DELETE FROM review where review_idx = #{review_idx}
	</delete>

</mapper>