<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.WishListMapper">

  <select id="myWishList"  resultType="com.itwillbs.domain.WishListBean">
  	SELECT 
	wishList_member_email,
	wishList_product_idx,
	product_name,
	product_price,
	product_main_image,
	product_stock
	
	FROM wishlist, product
	WHERE 
	wishList_product_idx = product_idx
	AND
	wishList_member_email=#{wishList_member_email}
  </select>
  
  <insert id="insertWishList">
	  INSERT INTO wishlist SET wishList_member_email=#{wishList_member_email}, wishList_product_idx=#{product_idx}
  </insert>
  
  <delete id="deleteWishList">
	  DELETE FROM wishlist WHERE wishList_member_email=#{wishList_member_email} AND wishList_product_idx=#{product_idx}
  </delete>
  
  <update id="updateWishList">
	  UPDATE product 
	  SET product_likecount = 
	  (SELECT COUNT(*) FROM wishlist WHERE wishList_product_idx=#{product_idx}) 
	  WHERE product_idx=#{product_idx};
  </update>
  
  <select id="checkWishList"  resultType="com.itwillbs.domain.WishListBean">
  	SELECT COUNT(*) as wishListCount FROM wishlist WHERE wishList_product_idx=#{product_idx} AND wishList_member_email=#{wishList_member_email}
  </select>
  
  <select id="checkWishCount" resultType="com.itwillbs.domain.ProductBean">
  	SELECT product_likecount from product where product_idx = #{product_idx}
  </select>
  
  <select id="checkHeart" resultType="com.itwillbs.domain.WishListBean">
	SELECT
		wishlist_member_email,
		wishlist_product_idx
  	FROM
		wishlist, member
	WHERE
		wishlist_member_email = member_email
	AND
		wishlist_member_email = #{member_email}
  </select>
  
</mapper>